In [1]:
import pandas as pd
import numpy as np

In [2]:
# csv files are Comma Separated Files
pokemon = {
    "Pokemon_Height" : np.random.randint(1, 100, 5),
    "Pokemon_Weight" : np.random.randint(1, 100, 5),
    "Pokemon_Power" : np.random.randint(200, 350, 5)
}
print(pokemon)

{'Pokemon_Height': array([86, 15, 82, 35, 22]), 'Pokemon_Weight': array([32, 53, 67, 22, 27]), 'Pokemon_Power': array([223, 294, 204, 331, 221])}

In [3]:
# The columns should be of the same height
df = pd.DataFrame(pokemon)
df

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              86              32            223
1              15              53            294
2              82              67            204
3              35              22            331
4              22              27            221

In [4]:
df.head(n = 2)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              86              32            223
1              15              53            294

In [5]:
df.columns

Index(['Pokemon_Height', 'Pokemon_Weight', 'Pokemon_Power'], dtype='object')

In [6]:
# Create a csv file
df.to_csv("./CSV Dump/Pokemon data.csv")
# If we don't want indices to be created as a separate column, we can opt for -
# df.to_csv("./CSV Dump/Pokemon data.csv", index= False)

In [7]:
df = pd.read_csv("./CSV Dump/Pokemon data.csv")
df.head()

   Unnamed: 0  Pokemon_Height  Pokemon_Weight  Pokemon_Power
0           0              86              32            223
1           1              15              53            294
2           2              82              67            204
3           3              35              22            331
4           4              22              27            221

In [8]:
df.drop(columns = ['Unnamed: 0'])

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              86              32            223
1              15              53            294
2              82              67            204
3              35              22            331
4              22              27            221

In [9]:
df.shape

(5, 4)