In [4]:
for x in [1,[1,2],3,4]:
    print(x)

1
[1, 2]
3
4

In [5]:
name = "aditya krishna"
for x in name :
    print(x, end = ">")

a>d>i>t>y>a> >k>r>i>s>h>n>a>

In [6]:
book = {
    "name" : "algorithms bible",
    "rating" : 4.03,
    "author" : [
        {
            "name" : "cormen",
            "age" : 42
        },
        {
            "name" : "rivest",
            "age" : 39
        }
    ]
}

In [7]:
# iterates on the keys of the dictionary!
for x in book :
    print(x)

name
rating
author

In [11]:
dir(fh)

['_CHUNK_SIZE',
 '__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_checkClosed',
 '_checkReadable',
 '_checkSeekable',
 '_checkWritable',
 '_finalizing',
 'buffer',
 'close',
 'closed',
 'detach',
 'encoding',
 'errors',
 'fileno',
 'flush',
 'isatty',
 'line_buffering',
 'mode',
 'name',
 'newlines',
 'read',
 'readable',
 'readline',
 'readlines',
 'reconfigure',
 'seek',
 'seekable',
 'tell',
 'truncate',
 'writable',
 'write',
 'write_through',
 'writelines']

In [25]:
with open("./some_file.txt",'r') as f:
    print(f.read())

hello
so i have to write all of this
to see how iterators
really work in python for a file handle!

In [27]:
".".join(["a","sydney","perth","canberra","melbourne"])

'a.sydney.perth.canberra.melbourne'

In [28]:
"#".join(book)

'name#rating#author'

In [29]:
a = list([10, "downing street"])
a

[10, 'downing street']

In [30]:
words = list("aditya krishna")
words

['a', 'd', 'i', 't', 'y', 'a', ' ', 'k', 'r', 'i', 's', 'h', 'n', 'a']

In [34]:
x = [1,2,3.03,4]
print(sum(x))
print(max(x))
print(min(x))

10.03
4
1