In [1]:
name = input()
print("Hello " + name)

mercurist
Hello mercurist

In [2]:
type(name)

str

In [3]:
age = input()
age = int(age)
print(age)

69
69

In [4]:
type(age)

int

In [6]:
string = input()
words = string.split()
print(type(words))
print(words)

hello darkness! My old friend...
<class 'list'>
['hello', 'darkness!', 'My', 'old', 'friend...']

In [7]:
"10 20 30 40 90".split()

['10', '20', '30', '40', '90']

In [8]:
list_of_nums = "10 20 30 40 90".split()
nums = [int(no) for no in list_of_nums]
sum = 0
for no in nums:
    sum += no
print(sum)

190

In [9]:
words = "#".join(list_of_nums)

In [10]:
words

'10#20#30#40#90'

In [11]:
nums = [int(no) for no in input().split()]

10 3 14 45 36

In [14]:
print(nums)
for x in nums:
    print(x, end=" >.< ")

[10, 3, 14, 45, 36]
10 >.< 3 >.< 14 >.< 45 >.< 36 >.<