#### What to expect from this notebook?
- constructing a list
- indexing
- append and extend functions
- initialization list

In [1]:
# The list is a heterogeneous array
a = [1,2,3,4]
a

[1, 2, 3, 4]

In [2]:
a = [1, "New Delhi", 99.99, [1,2,3]]
a

[1, 'New Delhi', 99.99, [1, 2, 3]]

In [3]:
a[2]

99.99

In [4]:
type(a[0])

int

In [5]:
type(a[1])

str

In [7]:
type(a[2])

float

In [8]:
type(a[3])

list

In [10]:
type(a[3][1])

int

In [12]:
# Let's see the constructor in actio
x = list()
x.append(2)
x.append("California")
x.append(47)
x

[2, 'California', 47]

In [14]:
y = list([1,2,3,4, "CA CA CA"]) 
y

[1, 2, 3, 4, 'CA CA CA']

In [16]:
y = [x] 
y

[[2, 'California', 47]]

In [17]:
y = x
y += x
y

[2, 'California', 47, 2, 'California', 47]

In [18]:
y.extend([3,"Amsterdam", 90.01])
y

[2, 'California', 47, 2, 'California', 47, 3, 'Amsterdam', 90.01]

In [19]:
z = ["Chicago", "Dublin", "the ten commandments"]

In [20]:
y.extend(z) 
y

[2,
 'California',
 47,
 2,
 'California',
 47,
 3,
 'Amsterdam',
 90.01,
 'Chicago',
 'Dublin',
 'the ten commandments']

In [21]:
emptylist = []
for i in range(1,6):
    emptylist.append(i**2)
emptylist

[1, 4, 9, 16, 25]

In [22]:
shortcut_for_squares = [i**2 for i in range(1,6)] 
shortcut_for_squares

[1, 4, 9, 16, 25]

#### List slicing

In [24]:
l1 = shortcut_for_squares
l1[0:3]

[1, 4, 9]

In [25]:
l1[-1]

25

In [26]:
l1[-3:-1]

[9, 16]

In [27]:
l1[0:100]

[1, 4, 9, 16, 25]

In [29]:
list = [1,2,3, "Germany"] 
list[:]

[1, 2, 3, 'Germany']

In [32]:
list[:3]

[1, 2, 3]

In [31]:
list[-3:]

[2, 3, 'Germany']

In [38]:
# insertion and deletion
fruit = [] 
fruit.append("mango") 
fruit.append("pineapple") 
fruit.append("papaya") 
fruit

['mango', 'pineapple', 'papaya']

In [35]:
dir(fruit)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [44]:
fruit.clear() 
fruit

[]

In [45]:
fruit.append(1)
fruit.append([2.0, 3.0]) 
fruit += [4,5,6]
fruit += [[7,8]]

In [46]:
fruit

[1, [2.0, 3.0], 4, 5, 6, [7, 8]]

In [47]:
fruit.remove(1) 
fruit

[[2.0, 3.0], 4, 5, 6, [7, 8]]

In [48]:
del fruit[4] 
fruit

[[2.0, 3.0], 4, 5, 6]

In [49]:
fruit.pop()

6

In [50]:
fruit

[[2.0, 3.0], 4, 5]

In [51]:
# Propagation
l = [1,2,3]
l *= 4
l

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [58]:
# Membership operator
l = ["apple", "guava", "oranges", "jackfruit"]
"jackfruit" in l

True

In [59]:
for i in range(len(l)):
    print(l[i])

apple
guava
oranges
jackfruit

In [60]:
for x in l:
    print(x, end =" -.--.- ")

apple -.--.- guava -.--.- oranges -.--.- jackfruit -.--.-

In [62]:
# Run twice
l.insert(2, "korean grapes")
l

['apple', 'guava', 'korean grapes', 'korean grapes', 'oranges', 'jackfruit']