In [3]:
# Tuples are immutable in Python
# comma separated entries within (), also heteregeneous
tupperware = (1, "water bottle", 2.01678155)
tupperware

(1, 'water bottle', 2.01678155)

In [4]:
tupperware[0] = 5

TypeError: 'tuple' object does not support item assignment

In [5]:
tuplist = list(tupperware)
tuplist

[1, 'water bottle', 2.01678155]

In [6]:
# to make the data write protected
tupper = tuple(tuplist)
tupper

(1, 'water bottle', 2.01678155)

In [7]:
# tuples are faster to iterate over than lists
# using tuples is a good choice when working with functions that return several values
tupper[0]

1

In [8]:
# Concatenation and repetition is allowed!
tup_two = tupper* 3
tup_two

(1,
 'water bottle',
 2.01678155,
 1,
 'water bottle',
 2.01678155,
 1,
 'water bottle',
 2.01678155)

In [9]:
len(tup_two)

9

In [10]:
t = (1,44,2,3)
max(t)

44

In [11]:
min(t)

1

In [12]:
del t